<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Linked in api</title>
    <style>
        {% include 'css/tailwind.min.css' %}
    </style>
</head>


<body>
    <h1>Linked in api</h1>
    <div card>
        <p>
            Api information
        </p>
        <a href="{{signin_linkedin_uri}}" ><img src="https://content.linkedin.com/content/dam/developer/global/en_US/site/img/signin-button.png" alt="Sign in to linked in"></a>
        <div>
            {% if user_info %}
                <p>Linked in User Name</p>
                <p>{{user_info.localizedFirstName}} {{user_info.localizedLastName}} </p>
            {% endif %}
        </div>
    </div>

</body>
</html>