<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Linked in api</title>
    <style>
        {% include 'css/tailwind.min.css' %}
    </style>
</head>


<body>
    <div title_container >
        <h1 title>Linked in api</h1>
        <a href="{{signin_linkedin_uri}}" >
            <img src="https://content.linkedin.com/content/dam/developer/global/en_US/site/img/signin-button.png" alt="Sign in to linked in">
        </a>
    </div>
    <div card>
        <div>
            <h3 subtitle> User information: </h3>
            {% if user_info %}
                <p>
                    Username: 
                    <b>{{user_info.localizedFirstName}} {{user_info.localizedLastName}}</b>
                </p>
            {% endif %}
        </div>
    </div>

</body>
</html>